page-restaurant-selection {
    .res-title {
        color: map-get($colors, primary);
    }

    .restaurant-preview-img {
        width: 100px;
        display: inline-block;
        float: left;
        padding-bottom: 15px;
    }
    

    .description {
        padding: 10px;
        float: left;
        width: calc(100% - 100px);
        height: calc(100% - 100px);
    }

    .next-button {
        width: 100%;
        margin: 0;
    }

    .radio-btn {
        border: 2px solid map-get($colors, primary);
        border-radius: 3px;
        width: 20px;
        height: 20px;
    }

    .unselect-card * {
        color: rgb(150, 150, 150);
        .next-button {
            border: 1px solid rgb(150, 150, 150);
        }
        .radio-btn {
            border: 2px solid grey;
            background-color: #f1f1f1;
        }
    }

    .forecast_container{
        overflow-x: scroll!important;
        overflow-y: hidden;
        word-wrap: break-word;
        height:20vw;
        font-size:0.8em;
        font-weight:300;
    }

    .res-btns {
        ion-row {
            height: 39px!important;
        }
    }


.toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #31c6c4;
    pointer-events: auto;
}

}
