page-user-list {
	.avatar {
		display: inline;
	}
	.participant_img{

			width:40px !important;
			height:40px !important;
			// margin-right:5px !important;;
	}
	.userName {
		display: inline;
		font-family: auto;
		color: cornflowerblue;
	}
	.addnew {
        margin-bottom: 30px;
        z-index: 100;
  }

	ion-item > ion-thumbnail {
		margin: 0 !important;
		min-width: 36px;
		min-height: 36px !important;
	}
}
