page-user-list {
	.group {
		padding-left: 0;
	}
	.avatar {
		display: inline;
	}
	.participant_img{

			width:40px !important;
			height:40px !important;
			// margin-right:5px !important;;
	}
	.userName {
		display: inline;
		font-family: auto;
		color: 	#808080;
	}
	.addnew {
        margin-bottom: 30px;
        z-index: 100;
  }

	ion-item > ion-thumbnail {
		margin: 0 !important;
		min-width: 36px;
		min-height: 36px !important;
	}


	.card-ios {
    margin: 12px;
    border-radius: 8px;
    width: calc(100%);
    font-size: 1.4rem;
    margin:20px auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 120px rgba(193, 193, 193, 0.9);
}


	.toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #31c6c4;
    pointer-events: auto;
}

.card-ios {
    // margin: 8px;
    border-radius: 8px;
    width: calc(100%);
    // font-size: 1.4rem;
    margin:20px auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 120px rgba(193, 193, 193, 0.45);
}
}
