<ion-header>

  <ion-navbar>
    <ion-title>
      All Users
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="segment" color="primary">
    <ion-segment-button value="users">
      Users
    </ion-segment-button>
    <ion-segment-button value="groups">
      Groups
    </ion-segment-button>
  </ion-segment>


  <div [ngSwitch]="segment">
    <!-- Users segment -->
    <ng-container *ngSwitchCase="'users'">

      <!-- Iterate over each user -->
      <ion-item-group *ngFor="let user of users">
        <div *ngIf="user.id !== 1">
          <ion-row no-padding (click)="jump(user.id)">

            <!-- First column: Avatar -->
            <ion-col col-3>
              <ion-item>
                <ion-avatar item-start>
                  <img src={{user.img}}>
                </ion-avatar>
              </ion-item>
            </ion-col>

            <!-- Second column: User name and company -->
            <ion-col>
              <ion-item>
                <h2>{{user.name}}</h2>
                <p>{{user.company}}</p>
              </ion-item>
            </ion-col>

            <!-- Third column: Checkbox -->
            <ion-col>
              <ion-item>
                <ion-checkbox *ngIf="hide" item-right color="dark" [(ngModel)]="checked[user.id]"></ion-checkbox>
              </ion-item>
            </ion-col>

          </ion-row>
        </div>
      </ion-item-group>

      <!-- Save group button -->
      <ion-row>
        <button ion-button *ngIf="hide" (click)="saveGroup()">Save Group</button>
      </ion-row>

      <!-- Create group button -->
      <ion-fab bottom right edge class="addnew" (click)="createGroup()">
        <button ion-fab mini side="top">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
    </ng-container>
    <!-- Users segment ends here -->

    <!-- Groups segment -->
    <ng-container *ngSwitchCase="'groups'">

      <!-- Iterate over each group -->
      <ion-item-group *ngFor="let group of groups">
        <ion-item class="group">

          <!-- First column: Avatar -->
          <!-- <ion-col> -->

              <ion-avatar item-start *ngFor="let userId of group.userIds.slice(0,2)">
                <img src={{findUserImg(userId)}} class="participant_img">
              </ion-avatar>

          <!-- </ion-col> -->

          <!-- Second column: Group name and User names -->
          <!-- <ion-col col-4> -->
            <p><b>{{group.groupName}}</b></p>
            <div *ngFor="let userId of group.userIds.slice(0,2)" class="userName">{{findUser(userId).name}}<span *ngIf="userId !== group.userIds[group.userIds.slice(0,2).length-1]" class="userName">,</span>
            </div>
          <!-- </ion-col> -->

          <!-- Third column: Trash icon -->

            <button class="button-color" ion-button clear icon-only float-right (click)="deleteGroup(group)">
              <ion-icon name="trash"></ion-icon>
            </button>

        </ion-item>
      </ion-item-group>
      <!-- Iterating over each group ends here-->

    </ng-container>
    <!-- Groups segment ends here -->
  </div>

</ion-content>
