page-all-events {
    ion-badge {
        float: right;
    }


    button.eventCardButton{
        float: right;
        padding-top: 6px;
    }

    ion-icon.isPending{
        opacity: 0.2;
    }

    .card-ios {
    margin: 12px;
    border-radius: 8px;
    width: calc(100%);
    font-size: 1.4rem;
    margin:20px auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 120px rgba(193, 193, 193, 0.9);
}

img{
	height:200px;
}


.toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #31c6c4;
    pointer-events: auto;
}





}


page-all-events button.eventCardButton {
  float:none;
  padding-top: 6px;
}