page-my-events {
    .add {
        font-weight: 800;
    }
    .addnew {
        margin-bottom: 30px;
        z-index: 100;
    }

    .participant_img{
	
        width:20px !important;
        height:20px !important;
        margin-right:5px !important;;
    }
    
    
     .item-ios ion-avatar[item-start]{
        margin: 8px 1px 8px 0;
    }
    
    .item-ios ion-avatar {
        min-width: 12px;
        min-height: 12px;
    }
    
    
    .item-borderless{
        
        border:0px !important;
    }
    
    
    
    .event_title{
        display:inline-block !important;
    }
    
    .list_header{
        background-color:#F5F5F5 !important;
    }
    
    
    ion-app.ios [padding] .scroll-content {
        padding: 0px;
    }


    button.eventCardButton{
        float: right;
        padding-top: 6px
    }



    div.eventDiv{
        margin-top: 25px;
    }

    p.moreNum{
        display: inline-block; 
        padding-top: 9px
    }


    h2{
        width: 100%;
    }
    ion-icon.hostIcon{
        float: right;
    }

        .card-ios {
    margin: 12px;
    border-radius: 8px;
    width: calc(100%);
    font-size: 1.4rem;
    margin:20px auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 120px rgba(193, 193, 193, 0.7);
}

.toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #31c6c4;
    pointer-events: auto;
}
}
