<ion-header>

  <ion-navbar>
    <ion-title>
      My Events
    </ion-title>
  </ion-navbar>
  <ion-header>

  </ion-header>


</ion-header>


<ion-content padding>

  <ion-segment [(ngModel)]="segment" color="primary">
    <!-- <ion-segment-button value="all">
      ALL
    </ion-segment-button> -->
    <ion-segment-button value="host">
      HOST
    </ion-segment-button>
    <ion-segment-button value="going">
      GOING
    </ion-segment-button>
    <ion-segment-button value="pending">
        PENDING
      </ion-segment-button>
    <ion-segment-button value="saved">
      SAVED
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment" class="eventDiv">
    <!-- <ng-container *ngSwitchCase="'all'">
      <ion-list *ngFor="let schedule of schedules | orderBy: 'schedule_date'">
        <ion-list-header no-lines class="list_header"> {{schedule.date | date: 'fullDate'}} </ion-list-header>

        <ion-card *ngFor="let event of schedule.events | orderBy: 'start_time'">
          <div (click)="event.host_id == myId ? todetail(event.key) : toViewdetail(event.key)">
            <ion-item no-lines>
              <h2 class="event_title">
                <ion-icon name="contact" *ngIf="checkEventRelationshipToMe(event) == 'host'" class="hostIcon"></ion-icon>
                {{event.title}}
              </h2>
              <p>{{event.start_time | date: 'shortTime'}}, {{event.restaurant.location}}</p>
            </ion-item>
          </div>
          <ion-item no-lines>
            <ion-avatar item-start *ngFor="let participantId of event.pending_people_ids.slice(0,3)">
              <img src={{getUserImgById(participantId)}} class="participant_img">
            </ion-avatar>
            <p class="moreNum" *ngIf="event.pending_people_ids.length > 3">+{{event.pending_people_ids.length - 3}}</p>

            <ng-container *ngIf="checkEventRelationshipToMe(event) !== 'host'">
                <button ion-button clear small class="eventCardButton" (click)="joinButtonClicked(event)">
                  <ion-icon name="ice-cream-outline" *ngIf="checkEventRelationshipToMe(event) !== 'going'"></ion-icon>
                  <ion-icon name="ice-cream" *ngIf="checkEventRelationshipToMe(event) == 'going'"></ion-icon>
                  <div>JOIN</div>
                </button>

                <button ion-button clear small class="eventCardButton" (click)="saveButtonClicked(event)">
                  <ion-icon [name]="checkEventRelationshipToMe(event) !== 'saved' ? 'star-outline' : 'star'"></ion-icon>
                  <div>SAVE</div>
                </button>
            </ng-container>
          </ion-item>
        </ion-card>
      </ion-list>
    </ng-container> -->

    <ng-container *ngSwitchCase="'host'">
      <!-- for each day there's a list -->
      <ion-list *ngFor="let schedule of schedules | orderBy: 'schedule_date'">
        <!-- if a day has this type of event -->
        <ng-container *ngIf="schedule.relationships.indexOf('host') > -1 ">

          <ion-list-header no-lines class="list_header"> {{schedule.date | date: 'fullDate'}} </ion-list-header>

          <!-- for each event happening in one day -->

          <ion-card *ngFor="let event of schedule.events | orderBy: 'start_time'">
              <!-- if a event is of this type -->
              <ng-container *ngIf="checkEventRelationshipsToMe(event).indexOf('host') > -1">
                <div (click)="event.host_id == myId ? todetail(event.key) : toViewdetail(event.key)" class="eventCardClickablePart">
                  <!-- for text info per event -->
                  <ion-item no-lines>
                    <h2 class="event_title">
                      <ion-icon name="contact" *ngIf="checkEventRelationshipsToMe(event).indexOf('host')" class="hostIcon"></ion-icon>
                      {{event.title}}
                    </h2>
                    <p>{{event.start_time | date: 'shortTime'}}, {{event.restaurant.location}}</p>
                  </ion-item>
                </div>
                <ion-item no-lines>
                  <ion-avatar item-start *ngFor="let participantId of event.pending_people_ids.slice(0,3)">
                    <img src={{getUserImgById(participantId)}} class="participant_img">
                  </ion-avatar>
                  <p class="moreNum" *ngIf="event.pending_people_ids.length > 3">+{{event.pending_people_ids.length - 3}}</p>

                </ion-item>
              </ng-container>

          </ion-card>
        </ng-container>

      </ion-list>
    </ng-container>


    <ng-container *ngSwitchCase="'going'">
        <!-- for each day there's a list -->
        <ion-list *ngFor="let schedule of schedules | orderBy: 'schedule_date'">
          <!-- if a day has this type of event -->
          <ng-container *ngIf="schedule.relationships.indexOf('going') > -1 ">

            <ion-list-header no-lines class="list_header"> {{schedule.date | date: 'fullDate'}} </ion-list-header>

            <!-- for each event happening in one day -->

            <ion-card *ngFor="let event of schedule.events | orderBy: 'start_time'">

                <!-- if a event is of this type -->
                <ng-container *ngIf="checkEventRelationshipsToMe(event).indexOf('going') > -1">
                  <div (click)="event.host_id == myId ? todetail(event.key) : toViewdetail(event.key)" class="eventCardClickablePart">
                    <!-- for text info per event -->
                    <ion-item no-lines>
                      <h2 class="event_title">
                        {{event.title}}
                      </h2>
                      <p>{{event.start_time | date: 'shortTime'}}, {{event.restaurant.location}}</p>
                    </ion-item>
                  </div>

                  <ion-item no-lines>
                    <ion-avatar item-start *ngFor="let participantId of event.pending_people_ids.slice(0,3)">
                      <img src={{getUserImgById(participantId)}} class="participant_img">
                    </ion-avatar>
                    <p class="moreNum" *ngIf="event.pending_people_ids.length > 3">+{{event.pending_people_ids.length - 3}}</p>

                    <!-- if the event's host is not me, then has the two buttons -->
                        <button ion-button clear small class="eventCardButton" (click)="joinButtonClicked(event)">
                          <ion-icon [name]="checkEventRelationshipsToMe(event).indexOf('going') == -1 ? 'ice-cream-outline' : 'ice-cream'"></ion-icon>
                          <div>JOIN</div>
                        </button>

                        <!-- <button ion-button clear small class="eventCardButton" (click)="saveButtonClicked(event)">
                          <ion-icon [name]="checkEventRelationshipsToMe(event).indexOf('saved') == -1 ? 'star-outline' : 'star'"></ion-icon>
                          <div>SAVE</div>
                        </button> -->
                  </ion-item>
                </ng-container>

            </ion-card>
          </ng-container>

        </ion-list>
    </ng-container>

    <ng-container *ngSwitchCase="'saved'">
        <!-- for each day there's a list -->
        <ion-list *ngFor="let schedule of schedules | orderBy: 'schedule_date'">
          <!-- if a day has this type of event -->
          <ng-container *ngIf="schedule.relationships.indexOf('saved') > -1 ">

            <ion-list-header no-lines class="list_header"> {{schedule.date | date: 'fullDate'}} </ion-list-header>

            <!-- for each event happening in one day -->

            <ion-card *ngFor="let event of schedule.events | orderBy: 'start_time'">
                <!-- if a event is of this type -->
                <ng-container *ngIf="checkEventRelationshipsToMe(event).indexOf('saved') > -1">
                  <div (click)="event.host_id == myId ? todetail(event.key) : toViewdetail(event.key)" class="eventCardClickablePart">
                    <!-- for text info per event -->
                    <ion-item no-lines>
                      <h2 class="event_title">
                        {{event.title}}
                      </h2>
                      <p>{{event.start_time | date: 'shortTime'}}, {{event.restaurant.location}}</p>
                    </ion-item>
                  </div>

                  <ion-item no-lines>
                    <ion-avatar item-start *ngFor="let participantId of event.pending_people_ids.slice(0,3)">
                      <img src={{getUserImgById(participantId)}} class="participant_img">
                    </ion-avatar>
                    <p class="moreNum" *ngIf="event.pending_people_ids.length > 3">+{{event.pending_people_ids.length - 3}}</p>

                    <!-- if the event's host is not me, then has the two buttons -->
                        <button ion-button clear small class="eventCardButton" (click)="joinButtonClicked(event)">
                          <ion-icon [name]="checkEventRelationshipsToMe(event).indexOf('going') == -1 ? 'ice-cream-outline' : 'ice-cream'"></ion-icon>
                          <div>JOIN</div>
                        </button>

                        <button ion-button clear small class="eventCardButton" (click)="saveButtonClicked(event)">
                          <ion-icon [name]="checkEventRelationshipsToMe(event).indexOf('saved') == -1 ? 'star-outline' : 'star'"></ion-icon>
                          <div>SAVE</div>
                        </button>
                  </ion-item>
                </ng-container>

            </ion-card>
          </ng-container>

        </ion-list>
    </ng-container>

    <ng-container *ngSwitchCase="'pending'">
        <!-- for each day there's a list -->
        <ion-list *ngFor="let schedule of schedules | orderBy: 'schedule_date'">
          <!-- if a day has this type of event -->
          <ng-container *ngIf="schedule.relationships.indexOf('pending') > -1 ">

            <ion-list-header no-lines class="list_header"> {{schedule.date | date: 'fullDate'}} </ion-list-header>

            <!-- for each event happening in one day -->

            <ion-card *ngFor="let event of schedule.events | orderBy: 'start_time'">
                <!-- if a event is of this type -->
                <ng-container *ngIf="checkEventRelationshipsToMe(event).indexOf('pending') > -1">
                  <div (click)="event.host_id == myId ? todetail(event.key) : toViewdetail(event.key)" class="eventCardClickablePart">
                    <!-- for text info per event -->
                    <ion-item no-lines>
                      <h2 class="event_title">
                        {{event.title}}
                      </h2>
                      <p>{{event.start_time | date: 'shortTime'}}, {{event.restaurant.location}}</p>
                    </ion-item>
                  </div>

                  <ion-item no-lines>
                    <ion-avatar item-start *ngFor="let participantId of event.pending_people_ids.slice(0,3)">
                      <img src={{getUserImgById(participantId)}} class="participant_img">
                    </ion-avatar>
                    <p class="moreNum" *ngIf="event.pending_people_ids.length > 3">+{{event.pending_people_ids.length - 3}}</p>

                    <!-- if the event's host is not me, then has the two buttons -->
                        <button ion-button clear small class="eventCardButton" (click)="joinPendingClicked(event)">
                          <ion-icon name="ice-cream" class="isPending"></ion-icon>
                          <div>JOIN</div>
                        </button>
                  </ion-item>
                </ng-container>

            </ion-card>
          </ng-container>

        </ion-list>
    </ng-container>

  </div>

  <ion-fab bottom right edge class="addnew" (click)="createEvent()">
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


</ion-content>
